<h1>About This Page</h1>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <p>This site is dedicated to my amazing daught Leona.  I wanted to do something fun that involved Leona in some of the work I am involved with, which is Web Development.
    </p>
  </div>
  <div class="col-md-6 col-xs-12">  
    <p>
    I decided to create this blog in order to record some of the fun projects we like to do, and possibly inspire other families out there to try what we have done, and give us ideas of projects that could be fun for Leona and I to work on.  It can be anything - cooking, science experiments, nature walks.  The sky is the limit!  
    </p>
  </div>
</div>
