// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Navbar */
body {
  margin-top: 0;
}

.navbar {
  margin-bottom: 70px;
  background-color: #009973;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 0;
    padding: 0;
}
#brand {
  float:none;
}

#brand:hover {
  background-color: #009973;
}

#navbar-links {
  a {
    font-family: 'Nova Mono', monospace;
    color: #6600cc;
  }
  a:hover {
    background-color: #6600cc;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
  .active a {
    background-color: #6600cc;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
}

#brand img {
  display: inline-block;
  margin-top: -30px;
}

#search-btn {
  font-family: 'Nova Mono', monospace;
  background-color: #6600cc;
  color: white;
  border: 1px solid black;
}

.form-control {
  border: 1px solid black;
}

.form-control::-webkit-input-placeholder { 
  font-family: 'Nova Mono', monospace;
  color: #6600cc;
}
.form-control::-moz-placeholder { 
  font-family: 'Nova Mono', monospace;
  color: #6600cc;
}
.form-control:-ms-input-placeholder { 
  color: #6600cc;
}
.form-control:-moz-placeholder { 
  font-family: 'Nova Mono', monospace;
  color: #6600cc;
}

/* Header */
#main-title {
  text-align: center;
  font-family: 'Sigmar One', cursive;
}

#mission {
  text-align: center;
  font-family: 'Sigmar One', cursive;
}

.alert {
  margin: 0;
}

.notice {
  margin: 0;
}


/* Footer Positioning */
footer {
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-top: 2px solid black;
  background-color: #009973;
}

.copyright {
  font-family: 'Sigmar One', cursive;
  font-size: 0.75em;
  color: black;
}